<?xml version="1.0" encoding="UTF-8"?>
    <configuration>
 
    <appender name="FILE-AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>app.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd -- HH:mm:ss} -- %msg%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>/logs/archived/debug.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>200MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
 
    <logger name="com.java2novice" level="debug" additivity="false">
        <appender-ref ref="FILE-AUDIT" />
    </logger>
 
    <logger name="org.springframework" level="off" additivity="false">
        <appender-ref ref="FILE-AUDIT" />
    </logger>
 
 
    <logger name="org.hibernate" level="off" additivity="false">
        <appender-ref ref="FILE-AUDIT" />
    </logger>
 
    <logger name="jdbc" level="off" additivity="false">
        <appender-ref ref="FILE-AUDIT" />
    </logger>
 
    <root level="info">
        <appender-ref ref="FILE-AUDIT" />
    </root>
 
</configuration>